{% extends "layout.html" %}
{% load static %}
{% block title %}
پنل کاربری
{{ user_st.user }}
{% endblock %}

{% block user %}
    {% if user_st.state == True %}
    شما با نام کاربری
    {{ user_st.user }}
    در سایت هستید
    <a class="btn-btn-danger" href="/autoapp/logouts "> خروج </a>
    {% endif %}
    {% if user_st.state == False %}
    وارد حساب خود شوید
    {% endif %}
{% endblock %}

<head>
<meta name="csrf-token" content="{{ csrf_token }}">
</head>

{% block body %}
{% include "navbar2.html"%}
<link href="{% static 'Css/chat.css' %}" rel="stylesheet" />
<body id="online">

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- جدول لیست نوبت‌ها -->
            <div class="box p-md-4 p-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wizard card-like m-3">
                            <form action="#">
                                <div class="wizard-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <h5 class="IRANSansWeb_Medium mb-4">
                                                <h1 class="page-title">لیست کل نوبت‌ها</h1>
                                            </h5>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>نام مشاور</th>
                                                    <th>کاربر</th>
                                                    <th>تاریخ</th>
                                                    <th>ساعت</th>
                                                    <th>نوع نوبت</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for appointment in appointments %}
                                                <tr>
                                                    <td>{{ appointment.consultant.namefull }}</td>
                                                    <td>{{ appointment.user.username }}</td>
                                                    <td>{{ appointment.date }}</td>
                                                    <td>{{ appointment.time }}</td>
                                                    <td>{{ appointment.get_appointment_type_display }}</td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="5">هیچ نوبتی ثبت نشده است.</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
    {{ form.media }}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
