{% extends "layout.html" %}
{% load static %}
{% block title %}
پنل کاربری
{{ user_st.user }}

{% endblock %}

{% block user %}
    {% if user_st.state == True %}
    شما با نام کاربری
    {{ user_st.user }}
    در سایت هستید
    <a class="btn-btn-dager" href="/autoapp/logouts "> خروج </a>
    {% endif %}
    {% if user_st.state == False %}
    وارد حساب خود شوید

    {% endif %}


{% endblock %}
{% block body %}
{% include "navbark.html"%}
<html>

<body>

   


    <section class="container-fluid intro-section text-white">
        <div class="container p-md-5 p-4">
            <div class="row">
                <div class="col-lg-9 text-justify">
                    <h5 class="mb-4 bt-color IRANSansWeb_Medium">آنچه درباره ما باید بدانید</h5>
                    <p>
                        {% csrf_token %} 
                        {% for item in about1 %}               
                          
                      <p>    
                        {{item.caption}} 
                       
                    </p>  
                    {% endfor %}  
                 
                </div>
                <div class="col-lg-3 pt-4">
                    <img src="{%static 'Images/08.png'%}" class="float-lg-left d-none d-lg-block img-fluid" style="width:250px;height:auto" />
                </div>
            </div>
        </div>
        <object class="d-none d-xl-block" type="image/svg+xml" data="Images/Svg/desktop-wave.svg"></object>
    </section>

    <section id="reason" class="container py-3 py-sm-3 ">
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/advis_stats.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/Phone-Communication-Support.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/approved-unlock.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>

        </div>
    </section>



   

</body>
{% endblock %}
{% block script %}

{{ form.media }}
   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}