{% extends "layout.html" %}
{% load static %}
{% block body %}

<html>

<body>

 

    <section class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mb-5">
                <div class="box p-4 text-justify">
                    <h5 class="pt-3 IRANSansWeb_Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                    <p><i class="fas fa-history pl-1"></i>تاریخ ارسال : 98/2/3 </p>
                    <img src="Images/topblog1.jpg" class="img-fluid rad25 pb-3 w-75" />
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        لورم ایپسوم متن ساختگی

                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>

                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>

                    <ul class="inline">
                        <li>
                            <a href="#" class="key-word"># طراحی واکنشگرا</a>
                        </li>
                        <li>
                            <a href="#" class="key-word"># زیبا</a>
                        </li>
                        <li>
                            <a href="#" class="key-word">#  چشم نواز</a>
                        </li>
                        <li>
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="box card text-center">
                    <div id="prof" class="card-body relative">
                        <img class="pic90 rounded-circle absolute" src="Images/pic.png" alt="" style="top:-30px;right:40%">
                        <h6 class="IRANSansWeb_Medium mt-5">محمد پورهادی</h6>
                        <p class="bottom_p IRANSansWeb_Medium">کارشناسی ارشد حقوق</p>
                        <span class="bg-warning py-1 px-2 text-white text-shadow rad25">2654 مشاوره</span> - <span class="IRANSansWeb_Medium text-danger">256 نظر</span>

                        <div class="px-3 py-1 my-3 dash rad12 d-flex flex-row text-center">
                            <div class="flex-fill">
                                <p class="mb-0 IRANSansWeb_Medium">1245</p>
                                <span>کد مشاور</span>
                            </div>
                            <div class="flex-fill">
                                <p class="mb-0 IRANSansWeb_Medium">7سال </p>
                                <span>تجربه</span>
                            </div>
                            <div class="flex-fill">
                                <p class="mb-0 IRANSansWeb_Medium">99/3/7</p>
                                <span>آخرین فعالیت</span>
                            </div>

                        </div>
                        <div class="d-flex flex-md-row flex-column">
                            <a href="Reservation.html" class="btn btn-danger btn-block text-white m-2 rad25">نوبت دهی آنلاین</a>
                            <a href="Consultation.html" class="btn btn-success btn-block text-white m-2 rad25">دریافت مشاوره</a>

                        </div>


                    </div>
                </div>

                <div class="blogpost">
                    <h5 class="IRANSansWeb_Medium p-3">پـادکست ها</h5>
                    <ul class="box pt-3">
                        <li>
                            <div class="px-3 d-flex flex-row">
                                <a href="#" class="bg-red rounded">
                                    <img src="Images/topblog4.jpg" class="img-fluid rounded " style="" />
                                </a>
                                <a href="#" class="pr-3 flex-fill">
                                    <h3 class="IRANSansWeb_Medium blog-item-title"><i class="fas fa-microphone-alt fa-2x text-danger ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                    <span class="float-right gray11"> مجتبی عاملی</span>
                                    <span class="float-left gray11"><i class="fas fa-clock ml-1"></i>دو سال پیش</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="px-3 d-flex flex-row">
                                <a href="#" class="bg-red rounded">
                                    <img src="Images/topblog5.jpg" class="img-fluid rounded" style="" />
                                </a>
                                <a href="#" class="pr-3 flex-fill">
                                    <h3 class="IRANSansWeb_Medium blog-item-title"><i class="fas fa-microphone-alt fa-2x text-danger ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                    <span class="float-right gray11"> مجتبی عاملی</span>
                                    <span class="float-left gray11"><i class="fas fa-clock ml-1"></i>دو سال پیش</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="px-3 d-flex flex-row">
                                <a href="#" class="bg-red rounded">
                                    <img src="Images/topblog6.jpg" class="img-fluid rounded" style="" />
                                </a>
                                <a href="#" class="pr-3 flex-fill">
                                    <h3 class="IRANSansWeb_Medium blog-item-title"><i class="fas fa-microphone-alt fa-2x text-danger ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                    <span class="float-right gray11"> مجتبی عاملی</span>
                                    <span class="float-left gray11"><i class="fas fa-clock ml-1"></i>دو سال پیش</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="px-3 d-flex flex-row">
                                <a href="#" class="bg-red rounded">
                                    <img src="Images/topblog4.jpg" class="img-fluid rounded" style="" />
                                </a>
                                <a href="#" class="pr-3 flex-fill">
                                    <h3 class="IRANSansWeb_Medium blog-item-title"><i class="fas fa-microphone-alt fa-2x text-danger ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                    <span class="float-right gray11"> مجتبی عاملی</span>
                                    <span class="float-left gray11"><i class="fas fa-clock ml-1"></i>دو سال پیش</span>
                                </a>
                            </div>
                        </li>
                        <li class="border-bottom-0">
                            <div class="px-3 d-flex flex-row">
                                <a href="#" class="bg-red rounded">
                                    <img src="Images/topblog5.jpg" class="img-fluid rounded" style="" />
                                </a>
                                <a href="#" class="pr-3 flex-fill">
                                    <h3 class="IRANSansWeb_Medium blog-item-title"><i class="fas fa-microphone-alt fa-2x text-danger ml-2"></i>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                    <span class="float-right gray11"> مجتبی عاملی</span>
                                    <span class="float-left gray11"><i class="fas fa-clock ml-1"></i>دو سال پیش</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="row ">

            <div class="col-md-12 box mt-2 p-4 ">
                <h5 class="IRANSansWeb_Medium mb-4 bt-color">دیگر مطالب محمد پورهادی</h5>
                <div id="owl-toppost" class="owl-carousel owl-theme text-right ">
                    <div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog9.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">لورم ایپسوم متن ساختگی بامفهوم </h6>
                            </div>

                        </a>

                    </div>
                    <div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog8.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">متن ساختگی با تولید سادگی نامفهوم؟</h6>
                            </div>

                        </a>

                    </div>
                    <div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog1.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">لورم ایپسوم متن ساختگی با سادگی نامفهوم </h6>
                            </div>
                        </a>

                    </div>
                    <div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog6.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">متن ساختگی با تولید سادگی نامفهوم؟</h6>
                            </div>


                        </a>

                    </div><div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog1.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">لورم ایپسوم متن ساختگی نامفهوم </h6>
                            </div>
                        </a>

                    </div>
                    <div class="mx-2">
                        <a href="Blogdetails.html">
                            <img src="Images/topblog6.jpg" class="img-fluid rad25 bigpic" />
                            <div class="blogdiv">
                                <h6 class="IRANSansWeb_Medium text-white text-shadow">متن ساختگی با تولید سادگی نامفهوم؟</h6>
                            </div>

                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>


   

</body>
{% endblock %}

{% block script %}

{{ form.media }}
   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}