{% extends "layout.html" %}

{% load static %}
{% block title %}
پنل کاربری
{{ user_st.user }}

{% endblock %}

{% block user %}
    {% if user_st.state == True %}
    شما با نام کاربری
    {{ user_st.user }}
    در سایت هستید
    <a class="btn-btn-dager" href="/autoapp/logouts "> خروج </a>
    {% endif %}
    {% if user_st.state == False %}
    وارد حساب خود شوید

    {% endif %}


{% endblock %}

{% block body %}
{% include "navbark.html"%}


<body id="home">


  

    <section id="above-page" class="container-fluid mb-5 mb-3 ">
        <div class="above-page-img">
            <img src="Images/bg1.jpg" alt="" title="" class="d-lg-block d-none">
        </div>
        <div class="container">
            <div class="row">
                <div class="above-page-content m-auto">
                    <div class="above-page-tagline">
                        <h1 class="main-tagline IRANSansWeb_Bold">جامع ترین سامانه مشـاوره آنلاین</h1>
                        <p class="explaine-tagline">
                            <span>با بیش از 5000 کارشناس متخصص به صورت </span>
                            <span class="rw-words rw-words-1">
                                <span>متنی</span>
                                <span>صوتی</span>
                                <span>تلفنی</span>
                                <span>متنی</span>
                                <span>صوتی</span>
                                <span>تلفنی</span>
                            </span>
                            <span>گفتگو کنید</span>
                        </p>
                    </div>
                    <div class="above-page-search">
                        <form method="get" action="index2">
                            <label for="search">جستجوی مشاور:</label>
                      
            
                        <input type="text" id="search" name="search" placeholder="نام مشاور را وارد کنید..." required>
                            <button type="submit" class="btn btn-success text-white rad25">جستجو</button>
                        </form>
                        
                        <!-- نمایش پیام خطا یا نتایج جستجو -->
                      
                        
                      
                        {% if moshaveran %}
    <ul>
        {% for moshaver in moshaveran %}
            <li>
                <a href="/list_moshaver1">{{ moshaver.namefull }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>مشاوری با نام "{{ search_query }}" یافت نشد.</p>
{% endif %}
             
                    <div class="last-question-time d-lg-block d-none">
                        <div  class="d-flex flex-row justify-content-center">
                            {% for item in types %}
                            <a  href="/list_filter/{{item.id}} " class="btn btn-danger text-white rad25 py-2 m-2"><i class="fa fa-gavel  ml-2"></i> {{item.name}}</a>
                          
                           {% endfor %}
                        </div>
                
                           
                        
                        
                          
                    </div>
                  
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-white my-5 p-4 ">
        <div class="max_w mx-auto d-flex flex-lg-row flex-column text-lg-right text-center mt-lg-0 mt-5">
            <div>
                <img id="mo_pic" src="Images/moshavere.png" />

            </div>
            <div class="pt-lg-5">

                <h4 class="IRANSansWeb_Medium"> نیاز به مشاوره دارید ؟</h4>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.
                </p>

            </div>
        </div>


    </section>





    <section class="container mt-3 p-4 max-900 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center mb-4">گفتگو و مشاوره با بهترین کارشناسان</h5>
        <a href="Reservationlist.html">
            <div class="row box-transform">
                <div class="col-lg-12 value-body text-center mb-3 p-3 brbtm">
                    <div class="row">
                        <div class="col-md-3 pt-3 pr-3">
                        
                            <span>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">پزشکان سلامت</b></span>
                        </div>
                        <div class="col-md-7 px-3">
                            <ul class="Consulation-list">

                                <li>
                                    <i class="online"></i>
                                    <img src="Images/11.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/12.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/10.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/11.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/10.jpg" class="rounded-circle img-fluid" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 pt-3 pr-3">
                            <span class="IRANSansWeb_Light">+951 مشاور دیگر .. &nbsp;</span>
                            <i class="fas fa-chevron-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

     

        <a href="Reservationlist.html">
            <div class="row box-transform">
                <div class="col-lg-12 value-body text-center mb-3 p-3 brbtm">
                    <div class="row">
                        <div class="col-md-3 pt-3 pr-3">
                         
                            <span>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">وکلای دادگستری</b></span>
                        </div>
                        <div class="col-md-7 px-3">
                            <ul class="Consulation-list">
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/12.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/11.jpg" class="rounded-circle img-fluid" />
                                </li>

                                <li>
                                    <i class="online"></i>
                                    <img src="Images/12.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/11.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/12.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/12.jpg" class="rounded-circle img-fluid" />
                                </li>
                                <li>
                                    <i class="online"></i>
                                    <img src="Images/11.jpg" class="rounded-circle img-fluid" />
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-2 pt-3 pr-3">
                            <span class="IRANSansWeb_Light">+781 مشاور دیگر .. &nbsp;</span>
                            <i class="fas fa-chevron-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="text-center my-3">
            <a href="#" class="btn btn-danger text-white px-5">+ مشاهده دیگر کارشناسان </a>

        </div>
    </section>


    <section id="reason" class="container py-3 py-sm-3 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center">دلایل انتخاب مجموعه ما </h5>
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/advis_stats.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/Phone-Communication-Support.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="Images/approved-unlock.png" />
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container my-4">
        <div id="foottop" class="row p-3 value-body grad-bg m-2 text-center">
            <div class="col-md-4 d-flex flex-sm-row  flex-wrap flex-column float-left text-md-left text-center">
                <a href="#"><img src="Images/logo2.png" /></a><br />
            </div>
            <div class="col-md-8 pt-3 d-flex flex-md-row flex-wrap flex-column text-md-right text-center">
                <span class="mb-2 pl-3 IRANSansWeb_Medium text-white"><i class="fa fa-stethoscope fa-2x ml-2"></i>راهنمایی و مشاوره :</span>
                <a href="#" class="rounded-btn text-white support-phone IRANSansWeb_Bold">017-2345678 __ 09301234567</a>
            </div>
        </div>
    </section>

    <section id="least_blog" class="container  py-3 py-sm-3 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center">آخرین های مجله سلامت</h5>
        <div class="row value-body mt-4 mx-1">
            <div class="col-lg-7  py-3 pl-3">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <a href="#" class="IRANSansWeb_Medium">کودکان و روابط اجتماعی با دیگران</a>
                        <p class="pt-3">با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                   <a href="#" class="btn btn-danger text-white">بیشتر بدانید ..</a>
                     </div>
                    <div class="col-lg-6 mb-3">
                        <a href="#"><img src="Images/123.jpg" class="img-fluid rad10" /></a>
                    </div>
                </div>
        
            </div>
            <div id="s_post" class="col-lg-5 py-3 pl-3">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-md-row flex-column mb-2">
                       <img src="Images/topblog6.jpg" class="img-fluid ml-3 rad10 mb-2" />
                        <div>
                            <a href="#" class="IRANSansWeb_Medium">تغذیه و تندرستی</a>
                            <p>با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است با تولید سادگی نامفهوم از صنعت چاپ. </p>
                        </div>
                    </div>
                    <div class="d-flex flex-md-row flex-column mb-2">
                        <img src="Images/topblog7.jpg" class="img-fluid rad10 ml-3 mb-2" />
                        <div>
                            <a href="#" class="IRANSansWeb_Medium">مادر و سلامتی دوران بارداری</a>
                            <p>با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است . </p>
                        </div>
                    </div>
                    <div class="d-flex flex-md-row flex-column mb-2">
                        <img src="Images/topblog8.jpg" class="img-fluid rad10 ml-3 mb-2" />
                        <div>
                            <a href="#" class="IRANSansWeb_Medium">روانشناسی افراد پراسترس</a>
                            <p>با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است . </p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </section>





    <section class="container mt-5">
        <h5 class="IRANSansWeb_Medium text-center bt-color">نظرات کاربران ما</h5>
        <div id="owl-Comments" class="owl-carousel owl-theme text-right ">
            <div class="card p-4">
                {% csrf_token %} 
                {% for item in tabel%}  
              
                
             
                
                   
                  
                
                
              
                
                    <p>  {{item.payam}   </p>
            
                    <div class="d-flex flex-row">
                        <img src="Images/11.jpg" class="img-fluid rounded-circle ml-3 pic55" />

                        <div>
                            <p class="text-dark IRANSansWeb_Medium bottom_p"> {{item.name}} </p>
                         
                            
                            <button type="button" onclick="setDelet('/delete/{{ item.id }}')" class="custom-button" data-toggle="modal" data-target="#myModal"><span>حذف </span></button></td> 
                            {% endfor  %} 
                            <span>
                               
                                <i class="fas fa-star  text-warning"></i>
                                <i class="fas fa-star  text-warning"></i>
                            </span>
                        </div>
                    </div>
           
            </div>
            <div class="card p-4">

                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>

                <div class="d-flex flex-row">
                    <img src="Images/12.jpg" class="img-fluid rounded-circle ml-3 pic55" />

                    <div>
                        <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>
                        <span>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star  text-warning"></i>
                            <i class="fas fa-star  text-warning"></i>
                         
                        </span>
                    </div>
                </div>

            </div>
         
          
          

        </div>

    </section>



   

</body>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">حذف نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         کاربر عزیز ایا مایل به حذف هستید
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a  class="custom-button" id="deleteItem" href=""  ><span>بله </span> </a>
          <button type="button" class="custom-button" data-dismiss="modal"><span>خیر </span></button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="edidmodal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ویرایش نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="editsave"  id="frmedit" method="post" >
                             {% csrf_token %}
                             {% for item in form %}
                                 <div class="fom_group text-right">
                                     {{ item.label_tag}}
                                     {{ item }}

                                 </div>
                             {% endfor %}
                      <button type="submit" class="custom-button" ><span>ارسال </span></button>
                </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="custom-button" data-dismiss="modal"> <span>بستن فرم </span></button>
        </div>

      </div>
    </div>
  </div>
<div class="modal" id="addmodal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">افزودن نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="contact"  method="post" >
                             {% csrf_token %}
                             {% for item in form %}
                                 <div class="fom_group text-right">
                                     {{ item.label_tag }}
                                     {{ item }}

                                 </div>
                             {% endfor %}
                      <button type="submit" class="custom-button" ><span>ارسال </span></button>
                </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="custom-button" data-dismiss="modal"> <span>بستن فرم </span></button>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'assets/js/script_panels.js' %}"></script>
<script>

 function setDelet(value)
   {
     document.getElementById("deleteItem").href=value;



 }
 function setvalue(name,email,payam,id)
   {

     document.getElementById("id_name").value=name;
     document.getElementById("id_email").value=email;
     document.getElementById("id_payam").value=payam;
     document.getElementById("id_id").value=id;



 }
</script>
{{ form.media }}

   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}