{% extends "layout.html" %}
{% load static %}
{% block title %}
پنل کاربری
{{ user_st.user }}

{% endblock %}

  {% block user %}
{% if user_st.state == True %}
شما با نام کاربری
{{ user_st.user }}
در سایت هستید
<a class="btn-btn-dager" href=" /autoapp/logouts "> خروج </a>
{% endif %}
{% if user_st.state == False %}
وارد حساب خود شوید

{% endif %}


{% endblock %}
{% block body %}
<div class="row"  dir="rtl">
    <div class="col-md-8" >
     <div class="card">
        <div class="card-header text-right " >

            <button type="button" class="btn btn-success text-white rad25" onclick="creature()" data-toggle="modal" data-target="#myModal">
               افزودن تصویر
            </button>
        </div>
            <div class="card-body">
               

                   <table class="table">
                      <thead>
                        <tr>
                          <th>عنوان  </th>
                        
                          <th> تصویر </th>

                          <th>اعمال  </th>

                        </tr>
                      </thead>
                      <tbody class="body-tabel">
                              {% for item in tabel %}
                                  <tr>
                          <td>{{item.title}}</td>
                         


                          <td>
                            <div class="card" style="width:200px">
                              <img class="card-img-top" src=""{{item.imag.url}}"" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title">{{ item.title }}</h4>
                              
                              
                              </div>
                            </div> 
                            <img src="{{item.imag.url}}"/ >
          
                          <p>{{item.zaman_bargozary}}</p> </td>

                          <td>                           

                                                          <button type="button"  onclick="$('.id').val('{{item.id}}')"
                                                                  class="btn btn-success text-white rad25" data-toggle="modal" data-target="#myModaldelet">
                                                          حذف
                                                          </button>
                                                              










                        </tr>
                              {% endfor %}


                      </tbody>
                  </table>



        </div>

      </div>
    </div>
</div>

<div class="container">
  <div class="row box  mx-wh  p-4  bg-half">
      <div class="col-md-3  text-center">
          <img src="Images/pic.png" class="img-fluid rounded-circle border pic160" /><br />
          <p class="pt-3 IRANSansWeb_Medium">کد مشاور : 1245</p>
      </div>
      <div class="col-md-9 text-md-right text-center">
          <h3 class="IRANSansWeb_Medium text-white b-dark mb-0">نام مشاور</h3>
          <span class="float-md-left float-none">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
          </span>
          <p class="text-sm-white IRANSansWeb_Medium text-white b-dark">تخصص مشاور مورد نظر</p>
          <p class="mt-3 mb-0 IRANSansWeb_Medium text-success"><i class="online ml-2"></i>آماده پاسخگویی</p>
    <p>
        <span class="IRANSansWeb_Medium"> 4158 سوال (در مدت 2 سال و 5 ماه )</span>
        <span class="IRANSansWeb_Medium text-primary  p-2 rad12 mb-0"><i class="far fa-comment pl-2"></i>2549 نظر</span>

    </p>


          <a href="#Chat" onclick="goToId('#Chat', 1000); return false;" class="btn btn-success px-4 py-2 text-white  rad25 float-md-left mb-3  "><i class="far fa-comment"></i> گفتگوی متنی با مشاور</a>
          <a href="#Call" onclick="goToId('#Call', 1000); return false;" class="btn btn-danger px-4 py-2 text-white rad25 float-md-left ml-md-3 mb-3"><i class="fas fa-phone"></i> گفتگوی تلفنی با مشاور</a>
      </div>
  </div>

  <div class="row mt-4 p-4  mx-wh box">
      <div class="col-md-12">
          <h5 class="IRANSansWeb_Medium bg-light rad25 py-2 px-3 ">درباره مشاور</h5>
          <p class="text-justify">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </p>
      </div>
  </div>

  <div id="Call" class="mt-4 p-4  mx-wh box text-md-right text-center">
      <h5 class="IRANSansWeb_Medium  bg-light py-2 px-3  mb-4 rad25"> تماس تلفنی با مشاور (در کمترین زمان) </h5>

      <div class="row">

          <div class="col-lg-7">
              <p>
                  با مشاور تا کمتر از 3 ساعت دیگر به صورت تلفنی گفتگو کنید! مشاور با شما تماس خواهد گرفت و حداکثر در 15 دقیقه پاسخگوی سوال شما خواهد بود. گوش به زنگ مشاور باشید.
              </p>
              <span class="dash-g p-2 rad25 mb-3">
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>تماس تلفنی</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال متن</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال عکس</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال صوت</span>
              </span>

          </div>
          <div class="col-lg-2 text-md-left text-center my-3">
              <span class="IRANSansWeb_Light fa-2x">
                 40,000 تومان
              </span>
          </div>
          <div class="col-lg-3 text-md-left text-center">
              <a href="Login.html" class="btn btn-danger px-4 text-white rad25  ml-3 "><i class="fas fa-phone mt-2"></i> شروع تماس</a>
          </div>
      </div>
  </div>


  <div id="Chat" class="mt-4 p-4  mx-wh box text-md-right text-center">
      <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">گفتگوی متنی با مشاور</h5>
      <div class="row">

          <div class="col-lg-7">
              <p>
                  با مشاور تا کمتر از 3 ساعت دیگر به صورت متنی گفتگو کنید! مشاور با شما چت خواهد کرد و حداکثر در 15 دقیقه پاسخگوی سوال شما خواهد بود. گوش به زنگ مشاور باشید.
              </p>
              <span class="dash-g p-2 rad25 mb-3">
                  <span class="pl-3"><i class="fas fa-times fa-2x text-danger pl-1 "></i>تماس تلفنی</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال متن</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال عکس</span>
                  <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال صوت</span>
              </span>
          </div>
          <div class="col-lg-2 text-md-left text-center my-3">
              <span class="IRANSansWeb_Light fa-2x">
                  26,000 تومان
              </span>
          </div>
          <div class="col-lg-3 text-md-left text-center">
              <a href="/message_d" class="btn btn-success px-4 text-white rad25  ml-3 "><i class="far fa-comment mt-2"></i>  شروع چـت </a>
          </div>
      </div>
  </div>


 



</div>



<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="direction:rtl;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تصاویر</h4>
          <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-right">
            <form method="post" action="create_img"  enctype="multipart/form-data">
                      {% csrf_token %}
                        {% for item in  form %}
                             <div class="form-group">
                                            {{ item.label_tag }}
                                            {{ item }}
                             </div>
                        {% endfor %}


                       <div class="alert alert-info result " >

                       </div>
                <div class="text_center" >
                    <button type="submit" class="btn btn-success text-white rad25" >ثبت    </button>

                </div>
            </form>
        </div>



      </div>
    </div>
  </div>

<div class="modal" id="myModaldelet">
    <div class="modal-dialog">
      <div class="modal-content" style="direction:rtl;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تاییدیه حذف</h4>
          <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-right">
            <form method="post" action="" class="frm-delet">
                  {% csrf_token %}
                <input type="hidden" name="id" class="id">
                    ایا مایل به حذف هستید


                       <div class="alert alert-info result-delet " >

                       </div>
                <div class="text_center" >
                    <button type="button" class="btn btn-info ml-2  ok_delet " >بله   </button>

                </div>
            </form>
        </div>



      </div>
    </div>
</div>




{% endblock %}
{% block script %}
   {{ form.media }}    

   <script src="{% static 'js/image.js' %}"></script>
{% endblock %}
