{% extends "layout.html" %}
{% load static %}
{% block body %}
    <form class="account-form" action="create_answer" method="post"  >
        {% csrf_token %}
        {% for item in form %}
            {{ item.label_tag }}
            {{ item }}
                   
                  
                 
               
         
        {% endfor %}
        <button class="btn btn-danger btn-block mb-3 py-3" type="submit"> ثبت اطلاعات <i class="fa fa-chevron-left mr-2"></i></button>    
    </form>


{% endblock %}
{% block script %}

{{ form.media }}
   <script src="{% static 'js/fag.js' %}"></script>
{% endblock %}